@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.over{
  position:relative;
  overflow:hidden;
}

.parallelogram-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.parallelogram {
  width: 70%;
  height: 100vh;
  background-color: #fff; 
  position: relative;
  clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
  z-index: 2;
}



@keyframes scaleIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes scaleOut {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.scale-in {
  animation: scaleIn 10s ease-in-out forwards;
}

.scale-out {
  animation: scaleOut 10s ease-in-out forwards;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.underline-animated {
  position: relative;
  display: inline-block;
}

.underline-animated::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: width 1s ease-in-out;
}

.underline-animated:hover::after {
  width: 0;
  left: auto;
  right: 0;
}