@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.over{
  position:relative;
  overflow:hidden;
}

.parallelogram-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.parallelogram {
  width: 70%;
  height: 100vh;
  background-color: #fff; 
  position: relative;
  clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
  z-index: 2;
}
